

<link rel="stylesheet" href="home.component.css">
<div style="width: 50%; margin: auto; margin-top: 100px;">
    <div class="card p-5">
        <h4>ESCRIBE TU NOMBRE Y UNETE AL CHAT :v</h4>
        <input type="text" class="form-control" [(ngModel)]="User.name">
        <a href="" class="btn btn-primary btn-block mt-3"[routerLink]="['/chat', User.name]">Unete al Chat</a>

      

    </div>

</div>